body {
    font-family: system-ui;
    background: #0A0A0A;
}
h1{
    color: silver;
    text-align: center;
    font-size: 50;  
}
p{
    color: white;
    text-align: center;
    font-size: 17;
}
table{
	margin-left: auto;
	margin-right: auto;
	color:white;
}
td{
	border: 2px solid ivory;
	font-size: 20;
}
#symbol{
	color: silver;
}
#randomize{
	margin-left: auto;
	margin-right: auto;
	width: 128px;
	height: 142px;
	padding:5px;
}
#ghostLoop{
	margin-left: auto;
	margin-right: auto;
	width: 128px;
}
#ghostEvidence{
	color: silver;
}
#ghostHunting{
	color: silver;
}
#ghostExtra{
	color: silver;
}
.highlighted{
	background-color: #5F5F5F;
}
.iconText{
	font-size: 48;
	font-weight: bold;
	text-align: center;
}
.hasEvidence{
	color: green;
}
.noEvidence{
	color: red;
}
#otherProperties{
	color: ivory;
}