body {
    font-family: system-ui;
    background: #0A0A0A;
}
h1{
    color: silver;
    text-align: center;
    font-size: 50;  
}
p{
    color: white;
    margin-left: 420px;
    text-align: left;
    font-size: 17;
}
#randomize{
	margin: left;
	background-color: #5F5F5F;
	width: 128px;
	height: 142px;
	padding:5px;
}
#ghostLoop{
	width: 128px;
}
#ghostEvidence{
	color: silver;
}
#ghostHunting{
	color: silver;
}
#ghostExtra{
	color: silver;
}